<footer>
  <ul>
    <li><%= link_to 'Docs', 'http://docs.openguilds.com/' %>
    <li><%= link_to 'Sign up', 'https://dashboard.openguilds.com/users/sign_up/' %></li>
    <li><%= link_to 'Sign in', 'https://dashboard.openguilds.com/users/sign_in/' %></li>
    <li><%= link_to 'Terms of Service', 'terms-of-service' %>
    <li><%= link_to 'Privacy Policy', 'privacy' %>
  </ul>
</footer>
