---
title: Open Guilds
---


<section class="main">
  <section id="hero">
    <section class="copy">
      <h1>
      Create digital on-demand
      workforces that transform your data for rewards.
      </h1>

      <p>
      OpenGuilds helps you build and manage online organizations that perform work
      for rewards you set.
      </p>
    </section>

    <section class="links">
      <%= link_to 'Sign Up', 'https://dashboard.openguilds.com/users/sign_up/', class: 'primary-button' %>
      <%= link_to 'How does it work?', '#first-segment', class: 'secondary-button' %>
      <%= link_to 'Sign In', 'https://dashboard.openguilds.com/users/sign_in/', class: 'secondary-button' %>

    </section>
  </section>

  <section id="first-segment" class="segment">
    <figure>
      <%= image_tag 'community.png' %>
    </figure>

    <section class="copy">
      <h2>
      Build or join a community
      </h2>

      <p>
      Guilds have different tasks and levels of responsibility.
      When you set up your guild, you control the flow of work.
      </p>

      <p>
      Guilds can even use other platforms such as
      <strong>Amazon Mechanical Turk</strong> to provide an already
      existing community of workers you can have do the initial work that can
      be checked by more trusted members.
      </p>

    </section>
  </section>

  <section class="segment">
    <figure>
      <%= image_tag 'send-work.png' %>
    </figure>

    <section class="copy">
      <h2>
      Send work in
      </h2>

      <p>
      Upload your initial work to be done and have it assigned to available members
      of your guild.
      </p>

      <p>
      Guilds have an API developers can send data to. You can read more about
      our documentation <%= link_to 'here', 'http://docs.openguilds.com' %>
      </p>
    </section>
  </section>

  <section class="segment">
    <figure>
      <%= image_tag 'get-work.png' %>
    </figure>

    <section class="copy">
      <h2>
      Get finished work back
      </h2>

      <p>
      When the work is completed, we send it back to your service, with a 
      complete history of who did what.
      </p>

      <p>
      Workers are rewarded for completing the tasks correctly.
      </p>
    </section>
  </section>

  <section class="call-to-action">
    <h2>Wanna give it a try?</h2>
    <p>Its totally free to get started!</p>
    <section class="links">
      <%= link_to 'Sign Up', 'https://dashboard.openguilds.com/users/sign_up/', class: 'primary-button' %>
      <%= link_to 'Sign In', 'https://dashboard.openguilds.com/users/sign_in/', class: 'secondary-button' %>
    </section>
  </section>
</section>


